<h1>The Dig It DJs</h1>

<ul class="djs">
  <% @djs.each do |dj| %>
    <li class="dj">
      <h2 class="title"><%= dj.name %></h2>
      <table><tr>
        <td class="profile_pic"><%= image_tag "profile_#{dj.id}.jpg", class: 'profile_pic', alt: "#{dj.name}", title: "#{dj.name}" %></td>
        <td class="bio"><%= markdown(dj.bio) %></td>
      </tr></table>
    </li>
  <% end %>
</ul>
