<h1>Mixtapes</h1>

<% if current_user.try(:admin?) %>
  <p>
  <%= link_to 'Add a new mixtape', new_mixtape_path %>
  </p>
<% end %>

<ul class="mixtapes">
  <% @mixtapes.each do |mixtape| %>
    <li class="mix">
      <h2><%= link_to mixtape.title, mixtape_path(mixtape) %></h2>
      <%= render 'mixtape', mixtape: mixtape %>
    </li>
  <% end %>
</ul>
