<h1><%= link_to @mixtape.title, @mixtape.url, target: '_blank' %></h1>
<% if current_user.try :admin? %>
  <div class="actions">
    <%= link_to 'Edit', edit_mixtape_path(@mixtape) %>
    <%= link_to 'Back', mixtapes_path %>
  </div>
<% end %>
<%= render 'mixtape', mixtape: @mixtape %>
