<h1>Dig It Sound System</h1>
<p>This should show the latest news article, and some big image links to each section</p>
<h2>TODO:</h2>
<ul>
  <li>improve style</li>
  <li>post pictures</li>
  <li>post mixes</li>
  <li>add calender</li>
  <li>welcome page</li>
  <li>add a logo</li>
</ul>
