<%= image_tag 'welcome.jpg' %>
<p>
  The Dig It Sound System is a party on a bike. It brings together a 1.5k sound system, a tricycle, an articulated 9ft
  trailer, 2 wheel barrows, a pub table and a DJ booth with decks and CDs. It can be found roaming the streets of Camden
  all summer and has regular spots at Standon Calling, Bermondsey Street Festival and makes an appearance
  at many more street parties and festivals. Regular DJs Matty G, Carbo & Hydrate have a wide range of records and
  styles making for a high energy party mash up! Special guest DJs also add more spice to the mix.
</p>