<%= image_tag 'welcome.jpg' %>
<p>
  The Dig It Sound System has been rocking clubs, festivals and parties in London, Brighton and around the UK since
  the 1990s. We are a collective of four DJs and the odd guest playing an eclectic mix of electronic beats -
  everything from underground house and techno to electrofunk and drum and bass and then throwing in old school hip
  hop, reggae, funk and more. Our mobile sound system - a 2K rig on to a scrap wood built trailer attached to a
  tricycle - has become infamous on the festival circuit for its impromptu raves; we are regulars at Standon Calling,
  Field Day and other festivals, as well as street parties such as the Bermondsey Street Festival and Camden Crawl
</p>
