<h1>Calendar</h1>
<% if current_user.try :admin? %>
  <p><%= link_to 'Add a new event', new_event_path %></p>
<% end %>

<div id="calendar"></div>

<% unless @events.empty? %>
  <h2>Next Gig</h2>
  <%= render 'event', event: @events.first %>
<% end %>
