<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>You Received A Booking Request</h1>

<p>
  The details of the booking are:
  <ul>
    <% @details.each do |k,v| %>
      <li><b><%= k %>:</b> <%= v %></li>
    <% end %>
  </ul>
</p>

<p>Check with the guys and follow it up now!</p>

<p>
  Cheers,<br>
  Doug Out (Your faithful website bot)
</p>

</body>
</html>