<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>A New User Registered</h1>
<p><%= "#{User.last.name} #{User.last.surname}, #{User.last.email}" %></p>
<p>
  Cheers,<br>
  Doug Out (Your faithful website bot)
</p>

</body>
</html>