<h1>News</h1>
<%= render 'form' %>
<ul class="news">
  <% @stories.each do |story| %>
    <li><%= render 'story', story: story %></li>
  <% end %>
</ul>
<p class="pagination">Back | 1-10 of <%= @stories.count %> | <a>Next</a></p>