<h1>Gallery</h1>

<% if current_user.try :admin? %>
  <p><%= link_to 'Add a new photo', new_photo_path %></p>
<% end %>

<div class="gallery">
  <% @groups.each do |group| %>
    <div class="group">
      <% group.each do |photo, size| %>
        <%= link_to image_tag(photo.image(size), alt: photo.description, title: photo.description, class: 'photo'), photo_path(photo) %>
      <% end %>
    </div>
  <% end %>
</div>
<%= will_paginate @photos %>
