@import 'vars';

.pagination {
  text-align: right;
  padding: 10px;
  margin: 20px 0;
  font-size: $large-font;
  a {
    color: $primary-text;
  }
  .previous_page, .next_page, a, em {
    background: $secondary-color;
    padding: 10px;
    color: $primary-text;
  }
  .disabled, .disabled:hover {
    background: $primary-color;
    color: $primary-text;
  }
  a:hover, .next-page:hover {
    text-decoration: none;
    color: $primary-background;
  }
  em {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
  }
}
