@import url(http://fonts.googleapis.com/css?family=Inconsolata);

$main-font: Helvetica, sans-serif;
$code-font: Inconsolata, "Courier New", monospace;
$primary-color: #f00;
$secondary-color: #ff0;
$primary-text: #ffa;
$secondary-text: #fff;
$primary-background: #222;
$secondary-background: #000;
$small-font: 90%;
$normal-font: 100%;
$large-font: 110%;
$title-font: 150%;
