@import url(http://fonts.googleapis.com/css?family=Inconsolata);

//$primary-color: #f00;
//$secondary-color: #ff0;
//$primary-text: #ffa;
//$secondary-text: #fff;
//$primary-background: #222;
//$secondary-background: #000;

$primary-color: #800;
$secondary-color: #f22;
$primary-text: #000;
$secondary-text: #400;
$primary-background: #eee;
$secondary-background: #ddd;

$small-font: 90%;
$normal-font: 100%;
$large-font: 110%;
$title-font: 150%;

$main-font: Helvetica, sans-serif;
$code-font: Inconsolata, "Courier New", monospace;
