@import 'vars';
@import 'jquery.datetimepicker';
@import 'fullcalendar.css';

.fc td, .fc th {
  border: solid 2px $primary-background;
  background: $secondary-background;
}

.fc th, .fc-unthemed .fc-today {
  color: $secondary-color;
}

.fc-unthemed .fc-today {
  background: $primary-background;
}

.fc-button {
  background: $secondary-color;
  color: $primary-text;
}

.fc-state-default {
  text-shadow: none;
  border: 0;
}

.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right {
  border-radius: 0;
}

.fc-button:hover {
  color: $primary-background;
}

.fc-time, .fc-title {
  color: $primary-background;
}

.fc-event {
  background: $primary-text;
  border: none;
}

form.new_event {
  width: 300px;
  margin: 0 auto;
}