@import 'vars';

.new_user, .edit_user {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.edit_story {
  width: 100%;
  margin: 0 auto;
  textarea {
    height: 15em;
    resize: vertical;
  }
}

input[type=text], input[type=email], input[type=password], textarea, input[type=checkbox] {
  display: block;
  alignment: left;
  width: 100%;
  background: $secondary-background;
  font-family: $code-font;
  font-size: 110%;
  color: $secondary-text;
  padding: 0;
  margin: 0 auto;
  border: 2px solid $primary-text;
}

input[type=submit] {
  float: none;
  background: $secondary-color;
  border: 0;
  padding: 10px;
  width: 100%;
  margin: 20px auto;
  font-size: $large-font;
  color: $primary-text;
  cursor: pointer;
}

input[type=submit]:hover {
  color: $secondary-background;
}

input.cancel {
  font-size: 90%;
  background: #800;
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px 0 0 0;
}

.field {
  margin: 10px auto;
}

.field_with_errors {
  input, textarea {
    border: 2px solid $secondary-color;
  }
}

.password_tip {
  font-style: italic;
  font-size: 90%;
}

.js {
  #story_form, .new_comment {
    display: none;
  }
}

#story_form {
  input, textarea {
    width: 100%;
    margin: 5px auto;
    font-size: 100%;
  }
  textarea {
    resize: vertical;
    height: 5em;
  }
}

#new_comment {
  width: 100%;
  textarea {
    width: 90%;
    margin: 5px 0;
    resize: vertical;
    height: 2em;
  }
  textarea.story-comment {
    //float: left;
  }
  input[type=submit] {
    width: 68px;
    margin: 5px;
    font-size: 100%;
    float: right;
  }
}
