// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery {
  overflow: hidden;
  margin: auto;
  padding: 0;

  .group {
    float: left;
    width: 300px;
    height: 300px;
    margin: 0;
      .photo {
        float: left;
      }
  }
}

