@import 'vars';
@import 'pagination';

.gallery {
  overflow: hidden;
  margin: auto;
  padding: 0;

  .group {
    float: left;
    width: 300px;
    height: 300px;
    margin: 0;
      .photo {
        float: left;
      }
  }
}


