@import 'vars';
@import 'pagination';

.news {
  list-style: none;
  padding: 0;

  .story {
    font-family: $main-font;
    font-size: $normal-font;
    margin-bottom: 10px;

    .date {
      width: 75px;
      float: left;
      font-size: $small-font;
      color: $secondary-text;
    }

    .title {
      margin: 10px 0 0 75px;
      font-weight: bold;
      font-size: $large-font;
      color: $secondary-color;
    }

    .body {
      margin-left: 75px;
      h1, h2, h3 {
        font-size: $normal-font;
        font-weight: bold;
      }
    }
  }

  .story:hover {
    background: $secondary-background;
  }
}

.comment_form {
  margin: 0 0 0 75px;
}

.comments {
  .title {
    margin-left: 0;
  }

  .user {
    float: left;
    color: $secondary-text;
  }
}

