@import 'vars';

.tunes {
  list-style: none;
  padding: 0;

  li:hover {
    background: $secondary-background;
  }
  .tune {
    min-height: 165px; // min youtube size
    .clip {
      min-width: 310px;
      min-height: 160px;
      //border: 1px solid #fff;
      float: right;
    }
    .position {
      width: 150px;
      height: 150px;
      padding: 0;
      margin: 0 5px 0 0;
      background: black;
      color: $primary-background;
      float: left;
      font: 4em $code-font;
      font-weight: bolder;
      vertical-align: middle;
      text-align: center;
    }
    .artist, .title {
      font-size: $large-font;
      @media screen and (orientation: portrait) {
        font-size: $small-font;
      }
      color: $secondary-color;
      font-weight: bold;
    }
    .user {
      color: $secondary-text;
    }
    @for $i from 1 through 10 {
      #position_#{$i} { background-image: url("position_#{$i}.png"); }
    }
  }
}
