@import 'vars';

.tunes {
  list-style: none;
  margin: auto;
  overflow: hidden;
  padding: 0;

  li:hover {
    background: $secondary-background;
  }
  .mix {
    margin: 0 auto 30px;
  }
}

.actions {
  float: right;
}
