@import 'vars';

ul.welcome {
  list-style-type: none;
  font-size: 48pt;
  overflow: auto;
  a {
    font-size: 48pt;
  }
  .info {
    vertical-align: middle;
    font-size: $normal-font;
  }
  li {
    float: left;
    padding: 5px;
  }
}